@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
* {
    list-style: none;
    font-family: 'NanumSquare', sans-serif;
}

.login ul{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    margin-right: 40px;
}

.login ul li:first-child {
    padding-right: 8px;
}

.menu ul{
    display: flex;
    justify-content: flex-start;
}

.content {
    display: block;
    margin: 0 auto;
}

.search-box {
    padding: 0 40px;
    display: flex;
    justify-content: center;
}

.search-box input {
    padding: 14px;
    width: 200px;
    margin-right: 0px;
    outline: none;
    border: 2px solid rgba(0, 163, 192, 0.72);
}


.search-box button {
    padding: 16px;
    border: 1px solid rgba(0, 163, 192, 0.72);
    background-color: rgba(0, 163, 192, 0.72);
    color: #fff;
}

.search-box button img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}



.List h5 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.List .list-box{
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;
    width: 1130px;
    margin: 0 auto;
}

.List .list-box-item img {
    width: 330px;
    height: 400px;
    object-fit:cover;
}

.List .list-box .list-box-item-des {
    display: block;
    font-size: 20px;
    color: #343434;
    text-decoration: none;
    padding-top: 10px;
}

.List .list-box .list-box-price {
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}

.css-1633um2-MuiPaper-root {
    box-shadow: none !important; 
    text-align: left !important;
}

footer {
    background-color: #eee;
    height: 100px; 
}